nav{
    height: 50px;
    background-color: #2D4044;
    display: flex;
    flex-direction: row;
    display: space-between;
}

.home-button{
    height: 50px;
    width: 100px;
    background-image: url(assets/logo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    margin-bottom: 5vh;
}

h1{
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.display-none{
    display: none;
}

.header-image{
    background: linear-gradient(
            rgba(0,0,0,0.25),
            rgba(0,0,0,.45)
        ),
        url("https://images.unsplash.com/photo-1501084817091-a4f3d1d19e07?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d727fdcff7a7f9bfb440b887ce345c28&auto=format&fit=crop&w=600&q=60");
    height: 80vh;
    color: white;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
}

.color-wheel-section{
    height: 500px;
    position: relative;
    margin-bottom: 10vh;
}

.feature-stories{
    height: 400px;
}

.feature-story{
    border: 1px black solid;
    height: 100%;
}

.main-search-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-info{
    padding-top: 20vh;
}

.color-wheel-list{
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.color-wheel-image{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}


.color-wheel-full{
    background-image: url(assets/full-wheel.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.color-wheel-red{
    background-image: url(assets/red-wheel.png);
}

.color-wheel-orange{
    background-image: url(assets/orange-wheel.png);
}

.color-wheel-yellow{
    background-image: url(assets/yellow-wheel.png);
}

.color-wheel-green{
    background-image: url(assets/green-wheel.png);
}

.color-wheel-blue{
    background-image: url(assets/blue-wheel.png);
}

.color-wheel-purple{
    background-image: url(assets/purple-wheel.png);
}


.digital-art-link{
    height: 60px;
    width: 60px;
    margin-right: 20px;
}

.icon-red{
    background-image: url(assets/red-slice.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-orange{
    background-image: url(assets/orange-slice.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-yellow{
    background-image: url(assets/yellow-slice.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-green{
    background-image: url(assets/green-slice.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-blue{
    background-image: url(assets/blue-slice.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-purple{
    background-image: url(assets/purple-slice.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/*Product page*/

.product-main{
    min-height: 500px;
}

.product-additional{
    min-height: 300px;
    margin: 2vh;
}

.product-summary{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-main{
    margin: 2vh;
}

.product-image{
    height: 100%;
    width: 100%;
}

.product-map{
    height: 100%;
    width: 100%;
    background-image: url("http://display.maxvr.com/maps/mapimages/LasVegas.gif");
    background-size: cover;
    background-position: center;
}

.each-review{
    background-color: #EEE;
    border-radius: 20px;
    padding: 15px 20px 10px 30px;
    margin-bottom: 10px;
}

.review-rating{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/5_stars.svg/2000px-5_stars.svg.png");
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -5px;
    margin-bottom: 10px;
}

.review-title h3{
    margin-left: 5px;
}

blockquote{
    font-family: 'Varela Round', sans-serif;
    line-height: 1.6em;
    font-size: 18px;
}

blockquote::before{
    color: #ccc;
    content: "\201C";;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.05em;
    vertical-align: -0.4em;
  }
  
  blockquote::after{
    color: #ccc;
    content: "\201D";;
    font-size: 4em;
    line-height: 0.1em;
    vertical-align: -0.5em;
  
  }
  
  .review-author{
    color: #17464C;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Courgette', cursive;
    align-self: flex-end;
  }
  
  .review-author::before{
    content: "\2014";
  }

  .rate{
      font-weight: bold;
  }

  /*Search page*/
  .large-map{
      background-color: green;
      height: 80vh;
  }

