nav{
    height: 75px;
    background-color: #0F1617;
    display: flex;
    flex-direction: space-between;
    display: space-between;
    width: 100vw;
}

.nav-home-page{
    position: absolute;
    height: 75px;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(15,22,23,.5);
}

.nav-home-page .home-button{
    height: 75px;
    width: 150px;
}

.home-button{
    height: 70px;
    width: 150px;
    background-image: url(assets/logo-white.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-home-page .sign-up-group{
    width: 400px;
    height: 75px;
}

li h3:hover{
    color: blue;
}

.sign-up-group{
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
    padding-right: 30px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-group button{
    margin-left: 30px;
    height: 40px;
    width: 150px;
    font-weight: bold;
    font-size: 18px;
    color: #0F1617;
    background-color: #E3EBED;
}

h1{
    margin-top: 5vh;
    margin-bottom: 10vh;
    text-align: center;
}

.site-title{
    font-family: fatfrank, sans-serif;
    font-size: 60px;
}

.display-none{
    display: none;
}

.header-image{
    background: linear-gradient(
            rgba(0,0,0,0.45),
            rgba(0,0,0,.45)
        ),
        url("https://images.unsplash.com/photo-1501084817091-a4f3d1d19e07?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d727fdcff7a7f9bfb440b887ce345c28&auto=format&fit=crop&w=600&q=60");
    height: 80vh;
    color: white;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
    padding: 0;
}

.color-wheel-section{
    height: 500px;
    position: relative;
}

.feature-stories{
    min-height: 400px;
}

.feature-story{
    height: 100%;
}

.each-feature{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-search-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-search-form label{
    font-size: 26px;
}

.main-search-form input{
    width: 250px;
    height: 40px;
}

.header-info{
    padding-top: 10vh;
}

.color-wheel-list{
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
}

.color-wheel-image{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}


.color-wheel-full{
    background-image: url(assets/full-wheel.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.color-wheel-red{
    background-image: url(assets/red-wheel.png);
}

.color-wheel-orange{
    background-image: url(assets/orange-wheel.png);
}

.color-wheel-yellow{
    background-image: url(assets/yellow-wheel.png);
}

.color-wheel-green{
    background-image: url(assets/green-wheel.png);
}

.color-wheel-blue{
    background-image: url(assets/blue-wheel.png);
}

.color-wheel-purple{
    background-image: url(assets/purple-wheel.png);
}


.digital-art-link{
    height: 60px;
    width: 60px;
    margin-right: 20px;
}

.icon-red{
    background-image: url(assets/red-slice.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-orange{
    background-image: url(assets/orange-slice.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-yellow{
    background-image: url(assets/yellow-slice.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-green{
    background-image: url(assets/green-slice.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-blue{
    background-image: url(assets/blue-slice.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-purple{
    background-image: url(assets/purple-slice.png);
    background-size: contain;
    background-repeat: no-repeat;
}


.feature-image img{
    width: 100%;
    height: 250px;
}

.feature-section{
    padding: 40px;
}

/*Product page*/

.product-main{
    min-height: 500px;
    background-color: #E3EBED;
    padding: 20px;
    border-radius: 5px;
}

.product-additional{
    min-height: 300px;
    margin: 2vh;
}

.product-summary{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-main{
    margin: 2vh;
}

.product-image{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.product-map{
    height: 100%;
    width: 100%;
    background-image: url("http://display.maxvr.com/maps/mapimages/LasVegas.gif");
    background-size: cover;
    background-position: center;
}

.each-review{
    background-color: #E3EBED;
    padding: 15px 20px 10px 30px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.review-rating{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/5_stars.svg/2000px-5_stars.svg.png");
    height: 30px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -5px;
    margin-bottom: 10px;
}

.review-title h3{
    margin-left: 5px;
}

blockquote{
    font-family: 'Varela Round', sans-serif;
    line-height: 1.6em;
    font-size: 18px;
}

blockquote::before{
    color: #818687;
    content: "\201C";;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.05em;
    vertical-align: -0.4em;
  }
  
  blockquote::after{
    color: #818687;
    content: "\201D";;
    font-size: 4em;
    line-height: 0.1em;
    vertical-align: -0.5em;
  
  }
  
  .review-author{
    color: #17464C;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Courgette', cursive;
    align-self: flex-end;
    text-align: right;
  }
  
  .review-author::before{
    content: "\2014";
  }

  .rate{
      font-weight: bold;
  }

  .resource-name-performing, .color-performing{
      color: #ef694d;
  }

  .resource-name-digital, .color-digital{
      color: #85d66b;
  }

  .resource-name-crafts, .color-crafts{
      color: #4190ce;
  }

  .resource-name-fabrication, .color-fabrication{
      color: #bb3cea;
  }

  .resource-name-fine, .color-fine{
      color: #f3e762;
  }

  .resource-name-music, .color-music{
      color: #fcba4a;
  }

  h2{
      font-weight: bold;
  }

  .review-title-wrapper{
      display: flex;
      flex-direction: row;
      height: 100px;
      margin-bottom: 20px;
  }

  .review-title{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }


  .review-type-icon{
      height: 100%;
      width: 100px;
  }

  .review-icon{
      background-size: contain;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
  }

  .review-icon-performing{
      background-image: url(assets/red-slice.png);
  }

  .review-icon-digital{
      background-image: url(assets/green-slice.png);
  }

  .review-icon-crafts{
      background-image: url(assets/blue-slice.png)
  }

  .book-now{
      margin-top: 20px;
      height: 80px;
      width: 200px;
      color: white;
      border-radius: 5px;
      align-self: flex-end;
      font-size: 32px;
      font-weight: bold;
  }

.book-now-performing{
    background-color: #ef694d;
}

.book-now-digital{
    background-color:#85d66b;
}

.book-now-crafts{
    background-color: #4190ce;
}

.book-now-fabrication{
    background-color: #bb3cea;
}

.book-now-fine{
    background-color: #f3e762;
}

.book-now-music{
    background-color: #fcba4a;
}


  /*Search page*/
  .large-map{
      background-image: url(assets/lv-map.png);
      background-size: cover;
      background-position: center;
      height: 65vh;
      margin-bottom: 5vh;
  }

  .filter-input{
      background-color: #E3EBED;
      margin-bottom: 4vh;
  }

  .search-filter-form{
      width: 100vw;
      background-color: #E3EBED;
      display: flex;
      justify-content: space-around;
      padding: 15px;
      margin-left: 20px;
  }

  .each-input label{
      font-weight: bold;
      color: #0F1617;
      margin-right: 10px;
  }

  .each-input select{
      height: 40px;
      width: 200px;
      border-radius:5px;
  }

  .search-results{
      display: flex;
      flex-wrap: wrap;
      padding: 20px;
  }

  .each-result{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:20px;
    flex: auto;
    flex-basis: 200px;
    margin: 20px;
    border-radius: 5px;
    -webkit-box-shadow: -1px 3px 16px 0px rgba(15,22,23,0.62);
    -moz-box-shadow: -1px 3px 16px 0px rgba(15,22,23,0.62);
    box-shadow: -1px 3px 16px 0px rgba(15,22,23,0.62);
  }

  .result-image img{
    height: 100%;
    width: 100%;
  }

  a{
      color: black;
  }

  h5{
      text-align: center;
  }

  .product-link{
      color:black;
  }

  .product-link:active{
    text-decoration: none;
    color: red;
  }

  .result-performing{
    border: 4px solid #ef694d;
}

.result-digital{
    border: 4px solid #85d66b;
}

.result-crafts{
    border: 4px solid #4190ce;
}

.result-fabrication{
    border: 4px solid #bb3cea;
}

.result-fine{
    border: 4px solid #f3e762;
}

.result-music{
    border: 4px solid #fcba4a;
}